.profile {
    min-height: 85vh;

    .banner-profile {
        text-align: center;
        background: #f3f3f3;
        padding: 2rem 0 1rem;
        min-height: 40vh;
    }

    .banner-profile .image-profile img {
        width: 100px;
        height: 100px;
        border-radius: 100px;
        margin-bottom: 1rem;
    }

    .banner-profile .username {
        font-weight: 700;
    }

    .button-banner {
        float: right;
        margin-right: 10%;
    }

    .body-profile {
        display: center;
    }

    .nav {
        margin-left: 10%;
        margin-right: 10%;
    }
    .nav .nav-item{
        margin-left: 50px;
    }
    .nav-item p {
        background-color: white;
        border: none;
    }
}