.footerContent {
    background-color: rgb(243, 243, 243);
    padding: 12px 0px;
    
}

.footerConduit {
    margin-right: 10px;
    text-decoration: none;
    color: rgb(92, 184, 92);
    font-weight: bold;
}

.footerConduit:hover {
    text-decoration: underline;
}

.contanierFooter {
    margin-left: 16%;
}

.contanierFooter span {
    color: rgb(187, 187, 187);
    font-size: 12px;
}

.contanierFooter a {
    text-decoration: none;
    color: rgb(92, 184, 92);
}

.contanierFooter a:hover {
    text-decoration: underline;
}